name: Assemble binaries for macOS

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        # macos-15-intel is Intel, macos-15 is Apple Silicon (ARM64)
        os: [macos-15, macos-15-intel]
        include:
          - os: macos-15-intel
            arch: intel
          - os: macos-15
            arch: arm64

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Install dependencies
        run: |
          brew install macfuse gtk4 gtk+3 gobject-introspection pkg-config

      - name: Build
        run: |
          go mod download
          go get cells-fuse
          # Go automatically detects the architecture of the runner
          env GO111MODULE=on go build -v -o cells-fuse-${{ matrix.arch }} .

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: cells-fuse_macos-${{ matrix.arch }}
          path: cells-fuse-${{ matrix.arch }}
          retention-days: 30
