name: Assemble binaries

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libfuse-dev libfuse3-dev gcc libgtk-4-dev

      - name: Build
        run: go build -v .

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: cells-fuse_linux-x64
          path: cells-fuse
          retention-days: 30
